In [14]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
connection_string = "postgresql://postgres:123456@127.0.0.1:5432/quanlysinhvien"
%sql $connection_string

In [16]:
%sql select * from sinh_vien limit 5

 * postgresql://postgres:***@127.0.0.1:5432/quanlysinhvien
5 rows affected.

[('C0001', 'Khương Thảo', 'Loan', 0, '1999-01-04 00:00:00', 'ktloan@gmail.com', '0987314518          ', '586900775484', 2000000, 'CN'),
 ('C0002', 'Đặng Bạch', 'Ngọc', 1, '1999-11-11 00:00:00', 'dbngoc@gmail.com', '0987587327          ', '274387352269', 0, 'CN'),
 ('C0003', 'Phạm Văn Minh', 'Thiện', 1, '1999-11-23 00:00:00', 'pvmthien@gmail.com', '0987858734          ', '835772714136', 0, 'CN'),
 ('C0004', 'Đinh Thị Thanh', 'Dung', 0, '1999-01-19 00:00:00', 'dttdung@gmail.com', '0987508413          ', '373064334392', 1000000, 'CN'),
 ('C0005', 'Trần Mạnh', 'Thiện', 1, '1999-08-19 00:00:00', 'tmthien@gmail.com', '0987579776          ', '233384596844', 1000000, 'CN')]