In [1]:
%load_ext sql

In [2]:
conn = 'sqlite:///ql_ban_hang.db'
%sql $conn

In [3]:
result1 = %sql select * from SanPham limit 5
df = result1.DataFrame()
df.head()

 * sqlite:///ql_ban_hang.db
Done.

,Ma_so,Ten,Don_gia,Mo_ta,Hinh_anh,Ma_danh_muc
0,1,Bạc Xỉu Đá,29000,Nếu Phin Sữa Đá dành cho các bạn đam mê vị đậm...,bac-xiu-da.png,2
1,2,Phin Sữa Đá,29000,Hương vị cà phê Việt Nam đích thực! Từng hạt c...,phin-sua-da.png,2
2,3,Phin Đen Đá,29000,Dành cho những tín đồ cà phê đích thực! Hương ...,phin-den-da.png,2
3,4,Phin Đen Nóng,29000,Dành cho những tín đồ cà phê đích thực! Hương ...,phin-den-nong.png,2
4,5,Phin Sữa Nóng,29000,Hương vị cà phê Việt Nam đích thực! Từng hạt c...,phin-sua-nong.png,2