In [2]:
from mylibs import *
import pandas as pd
import numpy as np

In [3]:
read_json('json_maygiat/maygiat_1.json')
list_product_name = []
list_product_og_price = []
list_product_sale_price = []
for i in range(0,223):
    list_product_name.append(read_json(f'json_maygiat/maygiat_{i}.json')['product_name'])
    list_product_og_price.append(int((read_json(f'json_maygiat/maygiat_{i}.json')['product_og_price']).replace('đ','').replace(',','')))
    list_product_sale_price.append(int((read_json(f'json_maygiat/maygiat_{i}.json')['product_og_price']).replace('đ','').replace(',','')))
dict_product = {
    'Tên': list_product_name,
    'Giá Gốc': list_product_og_price,
    'Giá sale': list_product_sale_price
}
df = pd.DataFrame(dict_product)
df.head()

                                              Tên   Giá Gốc  Giá sale
0               Máy giặt Aqua 8.2 kg AQW-S82JT.BK   5290000   5290000
1   Máy giặt Aqua inverter 13 kg AW13-BP4959K(S8)  13690000  13690000
2  Máy giặt Aqua inverter 12 kg AW12-BP4959U1K(W)  11990000  11990000
3  Máy giặt Aqua inverter 12 kg AW12-BP4959U1K(B)  11990000  11990000
4   Máy giặt Aqua inverter 12 kg AW12-B4959U1K(W)  13690000  13690000

In [4]:
def format_currency(df : pd.DataFrame, columns : list) -> pd.DataFrame:
    for column in columns:
        df[column] = df[column].map('{:,}đ'.format)
    return df

In [5]:
df1 = df[(df['Tên'].str.contains('10', case=False)) & (df['Tên'].str.contains('lg',case = False)) & (df['Giá sale'] < 15000000)]
df1 = format_currency(df1, ['Giá Gốc', 'Giá sale'])
df1.head(100)

C:\Users\RAZER\AppData\Local\Temp\ipykernel_13776\4280681111.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].map('{:,}đ'.format)

                                         Tên      Giá Gốc     Giá sale
33     Máy giặt LG inverter 10 kg FV1410S4W1  12,490,000đ  12,490,000đ
88    Máy giặt LG Inverter 10.5 kg T2350VSAB   7,390,000đ   7,390,000đ
126  Máy giặt LG Inverter 10kg FV1410S5W Z11  14,990,000đ  14,990,000đ
203   Máy Giặt LG Inverter 10.5 Kg T2350VSAW   7,990,000đ   7,990,000đ
205     Máy Giặt LG Inverter 10 kg T2310DSAM   8,900,000đ   8,900,000đ

In [7]:
string = "10000"
test = int(string).{:,}'.format

AttributeError: 'int' object has no attribute 'map'